{% extends "music/base.html" %}
{% load static %}

{% block content %}
    <div class="album-details">
        <div class="album-info">
            <h1>{{ album.name }}</h1>
            <p>{% for artist in album.artists %}
            {{ artist.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}</p>
            <img src="{{ album.images.0.url }}" alt="{{ album.name }} Cover">
            <div>
                <span>Release Date: {{ album.release_date }}</span>
                <span>Tracks: {{ tracks|length }}</span>
            </div>
        </div>
        <div class="tracks">
            {% for track in tracks %}
            <div class="track-info">
                <p>{{track.track_number}}. {{ track.name }}</p>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div class="track-separator">
                <form action="{% url 'create_track_comment' album.id track.id %}" method="post">
                    {% csrf_token %}
                    <div class="review-section">
                        <div class="star-wrapper">
                            <input type="radio" name="rating" id="r10_{{ track.id }}" value="10">
                            <label for="r10_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r9_{{ track.id }}" value="9">
                            <label for="r9_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r8_{{ track.id }}" value="8">
                            <label for="r8_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r7_{{ track.id }}" value="7">
                            <label for="r7_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r6_{{ track.id }}" value="6">
                            <label for="r6_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r5_{{ track.id }}" value="5">
                            <label for="r5_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r4_{{ track.id }}" value="4">
                            <label for="r4_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r3_{{ track.id }}" value="3">
                            <label for="r3_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r2_{{ track.id }}" value="2">
                            <label for="r2_{{ track.id }}" class="fa-regular fa-heart"></label>

                            <input type="radio" name="rating" id="r1_{{ track.id }}" value="1">
                            <label for="r1_{{ track.id }}" class="fa-regular fa-heart"></label>
                        </div>
                        <div class="comment-section">
                            <label for="track_comment_{{ track.id }}">Comment</label>
                            <textarea type="text" id="track_comment_{{ track.id }}" name="comment" required></textarea>
                        </div>
                        <div class="button-section">
                            <button type="submit">Submit Rating</button>
                        </div>
                    </div>
                </form>
                <div class="show-comment">
                    {% for track_comment in track.comments %}
                        <div>
                        <div class="author-rating">
                            {% if track_comment.author.spotifyprofile.display_name %}
                            <span>{{ track_comment.author.spotifyprofile.display_name }}</span>
                            {% else %}
                            <span>{{ track_comment.author.username }}</span>
                            {% endif %}
                            <span>Rating: {{ track_comment.rating }}/10</span>
                        </div>
                        <p>{{ track_comment.content }}</p>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="review">
        <form action="{% url 'create_comment' album.id %}" method="post">
            {% csrf_token %}
            <div class="review-section">
                <div class="star-wrapper">
                    <input type="radio" name="rating" id="r10_{{ album.id }}" value="10">
                    <label for="r10_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r9_{{ album.id }}" value="9">
                    <label for="r9_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r8_{{ album.id }}" value="8">
                    <label for="r8_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r7_{{ album.id }}" value="7">
                    <label for="r7_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r6_{{ album.id }}" value="6">
                    <label for="r6_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r5_{{ album.id }}" value="5">
                    <label for="r5_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r4_{{ album.id }}" value="4">
                    <label for="r4_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r3_{{ album.id }}" value="3">
                    <label for="r3_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r2_{{ album.id }}" value="2">
                    <label for="r2_{{ album.id }}" class="fa-regular fa-heart"></label>
                    <input type="radio" name="rating" id="r1_{{ album.id }}" value="1">
                    <label for="r1_{{ album.id }}" class="fa-regular fa-heart"></label>
                </div>
                <div class="comment-section">
                    <label for="track_comment_{{ album.id }}">Comment</label>
                    <textarea type="text" id="track_comment_{{ album.id }}" name="comment" required></textarea>
                </div>
                <div class="button-section">
                    <button type="submit">Submit Rating</button>
                </div>
            </div>
        </form>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="show-comment">
                <div class="author-rating">
                    {% if request.user.spotifyprofile.display_name != "" %}
                        <span>{{ request.user.spotifyprofile.display_name }}</span>
                    {% else %}
                        <span>{{ request.user.username }}</span>
                    {% endif %}
                    <span>Rating: {{ comment.rating }}/10</span>
                </div>
                <p>{{ comment.content }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
{% endblock content %}