@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    width: 100%;
        font-weight: 400;
        font-size: 18px;
    background-color: #121212;
    color: #fff;
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    padding: 20px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header div {
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;

}

header a.logo {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.search-form {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease;
}

.search-button:hover {
    transform: scale(1.1);
}

main {
    width: 90%;
    margin: 0 auto;
}

main .albums {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

main .album {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

main .album:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .album img {
    width: 100%;
    border-radius: 8px;
}

main .album-title {
    font-weight: bold;
    margin: 10px 0 5px;
}

main .album-artist {
    color: #aaa;
    font-size: 14px;
}
.album-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.album-details div.album-info {
    width: 30%;
    margin: 20px 20px 20px 60px;

}

.album-details div.album-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.album-details div.album-info p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.album-details div.album-info img {
    margin-top: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.album-details div.album-info div {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.album-details div.tracks {
    width: 70%;
    margin: 20px;
}

.album-details div.tracks p {
    font-size: 1.2em;
    padding: 15px;
}

.album-details div.tracks .track-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: background-color 0.2s;
    border-bottom: 1px solid #333;
}

.album-details div.tracks .track-info:hover {
    background-color: #333;
    cursor: pointer;
}
.star-wrapper {
    direction: rtl;
    display: inline-flex;
    gap: 4px;
    margin: 10px;
}

.star-wrapper input {
    display: none;
}

.star-wrapper label {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: transform .2s, color .2s;
}

.star-wrapper label:hover {
    color: #1db954;
    transform: scale(1.2);
}

.star-wrapper label:hover,
.star-wrapper label:hover~label {
    color: #1db954;
}

.star-wrapper input:checked~label {
    color: #1db954;
}

form .review-section {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
}

form .review-section div:last-child {
    display: flex;
    justify-content: flex-end;
}

form .comment-section {
    width: 100%;
    display: inline-block;
}

form .comment-section label {
    display: block;
    margin-bottom: 5px;
}

form .comment-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    resize: vertical;
    background: #4e4e4e;
    color: #fff;
}

form button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.show-comment {
    margin-top: 10px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    color: #aaa;
}

.show-comment div {
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.show-comment div:last-child {
    margin-bottom: 0;
}

.show-comment div p {
    font-weight: 300;
    color: #fff;
}

.show-comment .author-rating {
    display: flex;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid #555;
}

footer {
    width: 100%;
    text-align: center;
    padding: 40px;
    background-color: #1e1e1e;
    color: #aaa;
    margin-top: 40px;
}